.bundle/
log/*.log
pkg/
test/dummy/log/*.log
test/dummy/node_modules/
test/dummy/yarn-error.log
test/dummy/storage/
test/dummy/tmp/

/yarn-error.log
yarn-debug.log*
.yarn-integrity

config/initializers/secret_token.rb
.env
/vendor/bundle
.rvmrc
.ruby-version
.swp
.sw

/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv
o/coverage/
/spec/tmp

.DS_Store
.passenger
rerun.txt

*.rbc
*.tmp
*.log
*.zip
*.tar
*.pyc
*.csv
*.tar
*.gz
*.orig

capybara-*.html
pickle-email-*.html

/node_modules

yarn-debug.log*
.yarn-integrity

test/dummy/db/schema.rb
